[Desktop Entry]
Name=Create System Report
GenericName=Create System Report
X-GNOME-FullName=Create System Report
Comment=Create a detailed System Report of your computer
Exec=/usr/scripts/createsysreport
Icon=evolution-tasks
Terminal=false
Type=Application
Categories=System;
StartupNotify=true