[Desktop Entry]
Name=Network Connections
GenericName=Network Connections
X-GNOME-FullName=Network Connections
Comment=Manage and change your network connection settings
Exec=nm-connection-editor
Icon=network-workgroup
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;WebBrowser;
StartupNotify=true
